@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p> Meu primeiro site em MVC</p>
    <samp>seu e-mail é: @Model.Email</samp>
</div>
