@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato (nome)</h3>
</div>

<div class="d-grid gap-2"></div>
<a class="btn btn-primary" role="button">Cancelar exclusão</a>
<a class="btn btn-danger" role="button">Confirmar exclusão</a>

