@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
    <h1 class="Display-4">Editar Contato</h1>
</div>

<form asp-controller="Contato" asp-action="Editar">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o seu contato">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Editar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
    </div>

</form>
