@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    

    <h1 class="Display-4">Listagem de Contatos</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button">Adicionar um Novo Contato</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>(91) 90000-0000</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>(91) 90000-0000</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>tBird@gmail.com</td>
                <td>(91) 90000-0000</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
   